:root{
    --icon-size:2rem;
    --btn-option: 1.2rem;
    --size-sm: .7rem;
    --profile-icon: 5rem;
    --profile-icon_bigger: 7rem;
}
.icon-sm{
    font-size: var(--icon-size);
}

.user_icon{
    font-size: var(--icon-size);
    border: 3px solid pink;
    border-radius: 50%;
}

.profile_icon_default{
    font-size: var(--profile-icon);
    border: 3px solid pink;
}

.avatar_icon_sm{
    width: var(--icon-size);
    height: var(--icon-size);
    border: 3px solid pink;
}

.avatar_icon{
    width: var(--profile-icon);
    height: var(--profile-icon);
    border: 3px solid pink;
}

.avatar_icon_bigger{
    width: var(--profile-icon_bigger);
    height: var(--profile-icon_bigger);
    border: 3px solid pink;
}

.btn-opt{
    font-size: var(--btn-option);
}

.muted_text{
    font-size: var(--size-sm);
}

.action_icon:hover, .post_image:hover{
    transform: scale(1.04);
}

.overflow-y{
    overflow-y: scroll;
    overflow-x: hidden;
}

.fixedCon{
    position: fixed;
    right: 2rem;
    top: 4.7rem;
}

.text-sm{
    font-size: var(--size-sm);
}

.like_icon:active{
    color: red;
    transform: scale(1.01);
}

@media screen and (max-width: 900px){
    .fixedCon{
        display: none;
    }
}